body {
    margin: 0;
    padding: 1%;
}

.header {
    /* background-color: rgba(182, 255, 148, 0.705); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 95%;
    top: 0;
    z-index: 100;
}

.contenedor-logo {
   text-align: left;
}

.logo {
    height: 25vh;
    
}

.navegacion {
    display: flex;
    list-style: none;
    justify-content: right;

}

.selector {
    padding: 1% 3% 1% 3%;
    border: solid 3px white;
    height:min-content;
    border-radius: 25px;
    margin: 1%;
    cursor: pointer;
    font-family: caviar;
    font-size: 1vw;
    color: white;
    background-color: rgb(210, 102, 13);
    transition: 250ms ease-in-out;
}

.selector:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


/*Fuentes*/
@font-face {
    font-family: caviar;
    src: url("../fuentes/caviar_dreams/CaviarDreams_Bold.ttf");
}
@font-face {
    font-family: nexa;
    src: url("../fuentes/nexa/Nexa-Heavy.ttf");
}
@font-face {
    font-family: nexa-light;
    src: url("../fuentes/nexa/Nexa-ExtraLight.ttf");
}
/*Fin Fuentes*/

.imagen {
    width: 40vw;
    transition: 250ms ease-in-out;
    background-size:contain;
    border-radius: 500px 0 500px 0;
    position: absolute;
    z-index: 2;
}

.forma {
    width: 40vw;
    height: 460px;
    background-color: aqua;
    border-radius: 0 100% 0 100%;
    position: relative;
    z-index: 1;

}
.forma2 {
    width: 40vw;
    height: 460px;
    background-color: aqua;
    border-radius: 100% 0 100% 0;
    position: relative;
    z-index: 1;

}

.forma3 {
    width: 40vw;
    height: 460px;
    background-color: aqua;
    border-radius: 0 100% 0 100%;
    position: relative;
    z-index: 1;

}
.forma4 {
    width: 40vw;
    height: 460px;
    background-color: aqua;
    border-radius: 100% 0 100% 0;
    position: relative;
    z-index: 1;

}

.texto {
    z-index: 2;
    position: absolute;
    padding: 0 3% 0 3%;
    display: none;
}

#primero{
    display: block;
}

.titulo {
    font-family: nexa;
    font-size: 2.5vw;
    color: rgb(116, 57, 255);
    /* padding: 0 0 20px 0; */
}

.descripcion{
    color: rgb(124, 79, 230);
    padding: 0 15% 0 0;
    text-align: justify;
    font-family: nexa-light;
    font-weight: 800;
    font-size: 2vh;

}

.btn {
    padding: 1% 3% 1% 3%;
    border: solid 3px white;
    height:min-content;
    border-radius: 25px;
    cursor: pointer;
    font-family: caviar;
    font-size: 1vw;
    color: white;
    background-color: rgb(210, 102, 13);
    transition: 250ms ease-in-out;
    margin: 5% 0 0 30%;
    
}

.btn:hover {
    transform: scale(1.2);
}





.seccion1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3%;
    place-items: center;
    gap: 10px;
    font-family: caviar;
    height: 100%;
    padding: 15% 0 15% 0;
}

.seccion2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3%;
    place-items: center;
    gap: 10px;
    font-family: caviar;
    height: 100%;
    padding: 5% 0 5% 0;
}

#seccion3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3%;
    place-items: center;
    gap: 10px;
    font-family: caviar;
    max-height: 100vh;
    padding: 0 0 5% 0;
    position: relative;
}

.seccion3 {
    margin: 3%;
    place-items: center;
    font-family: caviar;
    max-height: 100vh;
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.seccion4 {
    margin: 3%;
    place-items: center;
    font-family: caviar;
    max-height: 100vh;
    padding: 5% 0 5% 0;
}


.mapa {
    position: absolute;
    z-index: 2;
    transform: translateX(100px);
    border-radius: 25px;
    height: 460px;
    width: 30vw;
    border: solid 6px white;
}

.sedes {
    color: white;
    background-color:rgba(116, 57, 255, 0.515);
    border-radius: 25px;
    font-family: caviar;
    font-size: 1.4vh;
    transition: 250ms ease-in-out;
    margin: 0 0 1% 0;
    border: solid 6px white;
    list-style: none;
    display: flex;
    padding: 10px;
    
}

.sedes:hover {
    transform: scale(1.1);
    background-color:rgba(116, 57, 255);
    cursor: pointer;
}

.icono-sede {
    background-image: url("../assets/mascota.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
    color: white;
    filter: invert(1);
    
}

.tarjeta {
    background-color: rgba(255, 192, 109, 0.9);
    width: 300px;
    height: 280px;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 0 0 15px 0;
    border: solid 4px white;
}

.titulo-servicio {
    font-family: nexa;
    font-size: 1.8vh;
    color: rgb(124, 79, 230);
    text-align: center;
    background-color: white;
    border-radius: 25px;
    margin: 0 0 10px;
}

.descripcion-servicio {
    color: rgb(124, 79, 230);
    font-size: 1.3vh;
    text-align: justify;
    background-color: white;
    border-radius: 15px;
    padding: 0 10px 0 10px;


}

.lista {
    list-style: none;
    padding: 0;
}

.item {
    text-align: left;
}

.logo-servicio {
    background-image: url("/assets/perro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 45px;
    border-radius: 100%;
    margin: 0 0 10px 0;
    
    
}

.contenedor-tarjetas {
    /* background-color: rgba(137, 43, 226, 0.187); */
    height: auto;
    width: 80%;
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    transform: translateY(70px);
}


.viñeta {
    background-image: url("../assets/check.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15px;

}

.label {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
    padding: 5px;
}




/*ensayo de galeria*/

.galeria {
    max-width: 40%;
    height: 460px;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    z-index: 2;
    position: absolute;

}

.item-galeria {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 100%;
    transition: 350ms ease-in-out;
}

.item-galeria:hover {
    width: 600px;
    cursor: pointer;
}

#seccion5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.vista {
    height: auto;
    z-index: 2;
    position: absolute;
    width: 39%;
    background-color: rgba(255, 192, 109, 0.698);
    border-radius: 25px;
    border: solid 4px white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: none;
}

#datos-personales {
    display: inline-block;
    align-content: center;
    
}

.titulo-perfil {
    font-family: nexa;
    font-size: 2.1vh;
    color: rgb(86, 54, 161);
    background-color: aliceblue;
    border-radius: 25px;
    padding: 0 2% 0 2%;
}

/* #foto-perfil {
    background-image: url("/assets/perfil1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    border-radius: 25px;
    background-color: blue;
} */

.foto-perfil {
    max-height: 170px;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}



#contenedor-perfil {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

h3 {
    font-family: nexa;
    color: rgb(86, 54, 161);
    border-radius: 25px;
    background-color: aliceblue;
    width: fit-content;
    padding: 0 3% 0 3%;

}

p {
    font-size: 1.5vh;
    margin: 0;
    
}

ul {
    font-size: 1.5vh;
}

.info {
    background-color: aliceblue;
    border-radius: 25px;
    padding: 0 2% 0 2%;
    margin: 0 5% 0 0;
    /* color: rgb(86, 54, 161); */
}


#perfil-profesional {
    color: rgb(86, 54, 161);
}

.agente {
    border-radius: 100%;
    max-width: 450px;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: solid 5px white;
    transform: scaleX(-1);
}

.contenedor-contacto {
    z-index: 2;
    background-color: rgba(255, 192, 109, 0.698);
    border-radius: 25px;
    padding: 10px;
    margin: 3%;
    place-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

h2 {
    color: rgb(86, 54, 161);
    font-family: nexa;
    font-size: 1.6vw;
    /* background-color: white; */
    border-radius: 25px;
    padding: 0 3% 0 3%;
    text-align: center;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}


.contenedor-agente {
    display: flex;
    justify-content: center;
}



/* .numero {
    background-color: white;
    border-radius: 25px;
} */



.dato {
    border-radius: 25px;
    /* background-color: white; */
    /* padding: 0 3% 0 3%; */
    font-family: nexa;
    font-size: 1.3vw;
    color: rgb(86, 54, 161);
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
    width: 100%;
    align-items: center;
    align-content: center;

}

.seccion6 {
    display: flex;
    flex-direction: column;
    margin: 10% 5% 10% 5%;
    text-align: center;
}


.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.conteiner2 {
    display: flex;
    justify-content: center;
}

.conteiner3 {
    position: absolute;
    z-index: 2;
    
}



.conteiner4 {
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 3% 0 0;
}









/*parte para medias querys*/

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 15px;
    }

    .seccion1 {
        display: flex;
        flex-direction: column;
    }

    .seccion1-izq {
        height: 100%;
    }

    
    

    .seccion2 {
        display: flex;
        flex-direction: column;
    }

    .seccion3 {

        display: flex;
        flex-direction: column;
        max-height: unset;
        height: auto;


        
        
        
    }

    .seccion4 {
        display: flex;
        flex-direction: column;
        max-height: unset;
        height: auto;
        
    }

    .seccion6 {
        max-height: unset;
        height: 100%;
        transform: translateY(350px);
        margin: 10% 0 10% 0;
        
    }


    .header {
        display: none;
    }

    .imagen {
        border-radius: 25px;
        height: 50vw;
        width: auto;
        position: inherit;
    }

    .forma {
        display: none;
    }

    .forma2 {
        display: none;
    }

    .descripcion {
        position: inherit;
        padding: 0;
        font-size: 3vw;
        padding: 3% 0 5% 0;
    }
    
    .texto {
        position: relative;
        text-align: center;
    }

    .titulo {
        font-size: 5vw;
        padding: 3% 0 3% 0;
    }

    .btn {
        font-size: 3vw;
        margin: 0;
        
    }

    .sedes {
        text-align: left;
        font-size: 2vw;
    }

    menu {
        background: linear-gradient(45deg, #ff9a9e, aqua);
        padding: 10px;
        border-radius: 15px;
       
    }

    .forma4, .forma3 {
        display: none;
    }

    .mapa {
        position: relative;
        width: 100%;
        transform: none;
    }

    .contenedor-der {
        width: 100%;
    }

    .tarjeta {
        height: auto;
    }

    .contenedor-tarjetas {
        display: flex;
        flex-direction: column;
        position: relative;
        background: linear-gradient(135deg, #ff9a9e, aqua);
        border-radius: 15px;
        padding: 5%;
        
    }

    #seccion5 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .seccion5-contenedor1 {
        width: 100%;
        justify-items: center;
        
    }

    .galeria {
        width: 90%;
        max-width: unset;
        position: static;
    }

    .vista {
        width: 80%;
        
    }

    .foto-perfil {
        width: 20vw;
    }

    .info {
        font-size: 2vw;
    }

    .titulo-perfil {
        font-size: 3vw;
    }

    p {
        font-size: 2vw;
        text-align: justify;
    }

    li {
        font-size: 2vw;
    }

    .agente {
        width: 40vw;
    }



    

   
    


    


}

